@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    transition: background-image 0.5s ease-in-out;
    display: flex; 
    flex-direction: column; 
    min-height: 100vh; 
    font-family: Arial, sans-serif; 
    margin: 0 auto; 
    padding: 0; 

    
}

.timeNav{
    display: flex;   
    background-color: rgba(247, 247, 247, 0.555);
    backdrop-filter: blur(5px);
    min-width: 15%;
    height: 30px;
    align-self: center;
    margin-top: 1%;
    margin-bottom:90px;
    border-radius: 80px;
    justify-content: center;
}

#date, #clock {
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-family:"poppins";
    align-self: center;
    margin: 25px; 
}

.dashBoardHeadline {
    display: flex;
    font-family:"poppins";
    align-self: center;
    margin-bottom: 80px;
    color: rgb(239, 244, 243);
    font-size: 20px;  
}

.edit-icon {
    margin-left: 10px;
    cursor: pointer;
    font-size: 15px;
    color: rgb(255, 255, 255);
}

.edit-icon:hover {
    color: black;
}

.dashboardContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Fyra kolumner på stora skärmar */
    gap: 1rem;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}


.data-main {
    max-height: 500px;
    max-width: 350px;
    width: 100%;
    margin: 0 auto; 
    text-align: center; 
    border-radius: 5px; 
    display: flex;
    grid-template-columns: 1fr 1fr;
    justify-content: center; 
    align-items: center; 
    min-height: 500px; 
    background-color: rgba(247, 247, 247, 0.425);
    backdrop-filter: blur(8px);
    border-radius: 20px;
    gap: 10px;
}


/*---------------------LINKS--------------*/


#links {
    display: flex;
    flex-direction: column; 
    justify-content: flex-end; 
    height: 100%; 
}

#links h2{
    font-size: 20px;
    font-family:'poppins';
    margin-top: 10px;
}

.cardContainer {
    max-height: 90%;
    overflow: auto;
    width: 100%;

}



.card {
    position: relative; /* För att placera krysset relativt till kortet */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 93%;
    height: 60px;
    background-color: rgba(204, 255, 255, 0.488);
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    font-family: "Poppins", sans-serif;
}

.card img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer; /* Gör loggan klickbar */
}

.card .removeButton {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .removeButton:hover {
    background-color: rgb(126, 143, 244);
}

.cardText {
    margin-right: 40%;
}


.inputLinkDiv {
    margin-top: auto; /* Trycker knappen till botten */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.inputLinkDiv button {
    height: 40px;
    width: 40px;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    background-color: transparent;
    border: 2px solid rgb(239, 239, 255);
    color: white;
    cursor: pointer;
}

.inputLinkDiv button:hover{
    border: 2px solid rgb(103, 172, 251);
    color: rgb(103, 172, 251);
}

#linkInput {
    padding-left: 20px;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid rgb(239, 239, 255);
    height: 40px;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    margin-bottom: 15px;
    outline: none;
}

#linkInput:focus {
    border: 2px solid rgb(103, 172, 251);
}

/*---------------------LINKS--------------*/



/*---------------------WEATHER--------------*/

#city {
    width: 100%;
    padding-left: 20px;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid rgb(239, 239, 255);
    height: 40px;
    border-radius: 80px;
}

#city:focus {
    border: 2px solid rgb(103, 172, 251);
}

#weatherBtn {
    width: 100px;
    height: 20px;
    border-radius: 70px;
    background-color: transparent;
    backdrop-filter: blur(8px);
    border: none;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.378);
    font-family:"poppins";
    cursor: pointer;
}

#weatherBtn:hover {
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.695);
}

#weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    background-color: rgba(247, 247, 247, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    max-height: 500px;
    max-width: 350px;
    margin: 0 auto;
}

#temp-div {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

#weather-info {
    text-align: center;
    margin-bottom: 10px;
}

#weather-icon {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

#hourly-forecast {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
    gap: 10px;
    overflow-x: auto; 
    max-height: 200px;
    width: 100%;
    padding: 10px; 
    box-sizing: border-box; 
}

.hourly-item {
    display: flex;
    flex-direction: column;;
    text-align: center;
    font-size: 0.9rem;
    flex: 0 0 auto; 
    width: 80px; 
    box-sizing: border-box; 

}

.hourly-item img {
    height: 50px;
    width: 50px;
}


/*---------------------WEATHER--------------*/


/*---------------------NEWS-------------*/

#news {
    overflow: auto;
    background-color: rgba(56, 55, 92, 0.652);

}

#news-container {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    gap: 0px;
  }
  
  .news-article {
    display:grid;
    grid-template-rows:auto;
    background-color: transparent;
    padding: 15px;
    height: 300px;
    overflow:hidden;
    border-bottom: 1px solid white;
  }
  
  .news-article h3 a {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
  }
  
  .news-article h3 a:hover {
    color: #007BFF;
  }
  
  .news-article img {
    max-width: 100%;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  #news::-webkit-scrollbar {
      width: 6px; 
      height: 6px; 
  }

/*---------------------NEWS-------------*/



/*---------------------NOTES-------------*/



#notes {
    display:flex;
    flex-direction: column;
    text-align: center;
    font-family:"poppins";
    font-size: 15px;

}


#noteTextare {
    width: 90%;
    height:80%;
    background: transparent;
    backdrop-filter: blur(0px);
    border-radius: 8px;
    resize: none;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 18px;
    font-family:"poppins";
    border: 0.1px solid rgba(0, 0, 0, 0.49);
    outline: none;
    box-shadow: inset 0px 0px 8px 2px rgba(0, 0, 0, 0.325);
}

/*---------------------NOTES-------------*/


/*---------------------RANDOM-IMAGE-------------*/

footer {
    font-family:"poppins";
    display: flex;   
    background-color: rgba(247, 247, 247, 0.555);
    backdrop-filter: blur(5px);
    min-width: 15%;
    height: 30px;
    align-self: center;
    margin-top: 70px;
    border-radius: 80px;
    align-items:center;
    justify-content: center;
    margin-bottom: 40px;
}

#randomBtn {
    margin-left: 10px;
    height: 25px;
    width: 25px;
    font-size: 20px;
    background-color: transparent;
    border: none;
}

#randomBtn:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
}

/*---------------------RANDOM-IMAGE-------------*/


/*---------------------RESPONSIVE PART-------------*/


@media (max-width: 1332px) {
    .dashboardContainer {
        grid-template-columns: repeat(2, 1fr); /* Två per rad istället för en */
        width: 100%;
    }
    .data-main {
        width: 90%; /* Gör att elementen fyller nästan hela skärmen */
        margin: 0 auto; /* Centrerar varje element horisontellt */
    }

    footer {
        padding-left:5px;
        padding-right:5px;
    }
}

@media (max-width: 790px) {
    .dashboardContainer {
        grid-template-columns: 1fr; /* Bara en per rad */
    }
}